# An example configuration file for recode_st

log_level = "INFO" # Define the logging level here. Options are: DEBUG, INFO, WARNING, ERROR, CRITICAL
seed = 19960915    # Random seed for reproducibility

[io]
base_dir = "/rds/general/user/sep22/projects/phenotypingsputumasthmaticsaurorawellcomea1/live/Sara_Patti/009_ST_Xenium"
# Base directory for the project (relative to the current working directory)
data_dir = "data"                                                                                                                                      # Directory where the input data is stored (relative to base_dir)
xenium_dir = "xenium_raw"                                                                                                                              # Directory containing Xenium data (relative to data_dir)
output_data_dir = "out_data"                                                                                                                           # Directory where processed data will be saved (relative to data_dir)
adata_dir = "adata"                                                                                                                                    # Directory where AnnData objects will be saved (relative to output_data_dir)
zarr_dir = "xenium.zarr"                                                                                                                               # Directory where Zarr data will be stored (relative to output_data_dir)
output_dir = "out_1_2_3"                                                                                                                               # Directory where the output will be saved (relative to base_dir)
path = "selected_cells_stats.csv"                                                                                                                      # Path to the CSV file containing selected cells statistics (relative to data_dir)
logging_path = "logs"                                                                                                                                  # Directory where logs will be saved (relative to output_dir)
hlca_path = "/rds/general/user/sep22/home/Projects/_Public_datasets/HLCA/data/hlca_full_processed.h5ad"                                                # Path to the reference scRNAseq data
gene_id_dict_path = "/rds/general/user/sep22/projects/phenotypingsputumasthmaticsaurorawellcomea1/live/Sara_Patti/009_ST_Xenium/data/gene_id_dict.csv"

[modules.quality_control]
module_name = "1_quality_control" # Name of the module - will be used in the output directory name
subsample_data = false            # Whether to subsample the data for development purposes
min_counts = 10                   # Minimum number of counts required for a cell to pass filtering
min_cells = 5                     # Minimum number of cells expressed required for a gene to pass filtering
min_cell_area = 25                # Minimum cell area to filter cells required for a cell to pass filtering
max_cell_area = 1000              # Maximum cell area to filter cells required for a cell to pass filtering
norm_approach = "cell_area"       # Normalization approach to use; options: scanpy_log, sctransform, cell_area, none

[modules.dimension_reduction]
module_name = "2_dimension_reduction"
norm_approach = "cell_area"

subsample_strategy = "none"
subsample_n_total = 5000
subsample_min_cells_per_roi = 100

n_pca = 30
n_neighbors = 30
resolution = 1

cluster_name = "leiden"

[modules.integrate]
module_name = "3_integrate"

[modules.annotate]
module_name = "4_annotate"
cluster_name = "leiden_clusters"
new_clusters = "HLCA_full_num_cluster"
