# An example configuration file for recode_st

log_level = "INFO" # Define the logging level here. Options are: DEBUG, INFO, WARNING, ERROR, CRITICAL
seed = 19960915    # Random seed for reproducibility

[io]
base_dir = "/rds/general/user/sep22/projects/phenotypingsputumasthmaticsaurorawellcomea1/live/Sara_Patti/009_ST_Xenium"
# Base directory for the project (relative to the current working directory)
data_dir = "data"                                                                                                                                      # Directory where the input data is stored (relative to base_dir)
xenium_dir = "xenium_raw"                                                                                                                              # Directory containing Xenium data (relative to data_dir)
output_data_dir = "out_data"                                                                                                                           # Directory where processed data will be saved (relative to data_dir)
adata_dir = "adata"                                                                                                                                    # Directory where AnnData objects will be saved (relative to output_data_dir)
zarr_dir = "xenium.zarr"                                                                                                                               # Directory where Zarr data will be stored (relative to output_data_dir)
output_dir = "out_1_2_3"                                                                                                                               # Directory where the output will be saved (relative to base_dir)
path = "selected_cells_stats.csv"                                                                                                                      # Path to the CSV file containing selected cells statistics (relative to data_dir)
logging_path = "logs"                                                                                                                                  # Directory where logs will be saved (relative to output_dir)
ref_path = "/rds/general/user/sep22/home/Projects/_Public_datasets/HLCA/data/hlca_full_processed.h5ad"                                                 # Path to the reference scRNAseq data
gene_id_dict_path = "/rds/general/user/sep22/projects/phenotypingsputumasthmaticsaurorawellcomea1/live/Sara_Patti/009_ST_Xenium/data/gene_id_dict.csv"

# QUALITY CONTROL MODULE
[modules.quality_control]
module_name = "quality_control" # Name of the module - output directory name
subsample_data = false          # Whether to subsample the data for dev
min_counts = 10                 # Minimum number of counts required
min_cells = 5                   # Minimum number of cells expressed
min_cell_area = 25              # Minimum cell area to filter cells
max_cell_area = 1000            # Maximum cell area to filter cells
norm_approach = "cell_area"     # Normalization approach to use
remove_cells = []               # List of cell IDs to remove from the dataset

# DIMENSION REDUCTION MODULE
[modules.dimension_reduction]
module_name = "dimension_reduction" # Name of the module - will be used in the output directory name
norm_approach = "cell_area" # Normalization approach to use
n_pca = 30 # number of principal components to use for neighborhood graph
n_neighbors = 40 # number of neighbors for the neighborhood graph
resolution = 1 # resolution for leiden clustering
cluster_name = "leiden" # name of the cluster column in adata.obs
obs_vis_list = ["ROI", "condition", "batch"]
marker_genes = [
    "PTPRC",
    "CD3E",
    "CD68",
    "EPCAM",
    "KRT5",
    "PDGFRA",
    "ACTA2",
    "VWF",
] # Cell type marker plots


[modules.integrate]
module_name = "3_integrate"

[modules.annotate]
module_name = "annotate"
cluster_name = "leiden"
new_clusters = "manual_annotation"
