# An example configuration file for recode_st

log_level = "INFO" # Define the logging level here. Options are: DEBUG, INFO, WARNING, ERROR, CRITICAL
seed = 19960915    # Random seed for reproducibility

[io]
base_dir = "/rds/general/user/sep22/projects/phenotypingsputumasthmaticsaurorawellcomea1/live/Sara_Patti/009_ST_Xenium"
data_dir = "data"
xenium_dir = "xenium_raw"
output_data_dir = "out_data"
adata_dir = "adata"
zarr_dir = "xenium.zarr"
output_dir = "out_run1_run2_run3"
path = "selected_cells_stats.csv"
logging_path = "logs"
hlca_path = "/rds/general/user/sep22/home/Projects/_Public_datasets/HLCA/data/hlca_full_processed.h5ad"
gene_id_dict_path = "/rds/general/user/sep22/projects/phenotypingsputumasthmaticsaurorawellcomea1/live/Sara_Patti/009_ST_Xenium/data/gene_id_dict.csv"

[modules.format_data]
module_name = "0_format" # Name of the module - will be used in the output directory name
